{
  "trailingComma": "all",
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(?:[./@]*app)(/.*|$)",
    "^(?:[./@]*components/base)(/.*|$)",
    "^(?:[./@]*components/sections)(/.*|$)",
    "^(?:[./@]*components)(/.*|$)",
    "^(?:[./@]*lib)(/.*|$)",
    "^(?:[./@]*)(/.*|$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
