@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #072142;
  --secondary: #69788c;

  --muted-foreground: #4e5966;
  --lighter-foreground: #9dacc0;

  --radius: 0.625rem;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@theme {
  --font-*: initial;
  --font-sans:
    "Rubik", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted-foreground: var(--muted-foreground);
  --color-lighter-foreground: var(--lighter-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-collapsible-up: slideUp 200ms ease-out;
  --animate-collapsible-down: slideDown 200ms ease-out;
}

* {
  scrollbar-gutter: stable;
}
* {
  @apply scroll-smooth font-sans outline-0;
}
body {
  @apply m-0 min-h-dvh min-w-[350px] overflow-x-auto bg-neutral-50 p-0 text-base text-neutral-900;
}

section[id] {
  scroll-margin-top: 5rem;
}
